$primary-color: #8a33fd;
$secondary-color: #3c4242;

.btn {
  width: 192px;
  height: 48px;
  padding: 16px 20px;
  border-radius: 8px;
}

.btn-cancel {
  background: $primary-color;
  color: white;
  border: 1px $primary-color solid;
}

.btn-delete {
  background: #ffffff;
  border: 1px $secondary-color solid;
  color: $primary-color;
}

.btn-opener {
  width: 248px;
  background: $primary-color;
  color: white;
  border: 1px $primary-color solid;
  text-transform: uppercase;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &:hover {
    background: #ffffff;
    color: $primary-color;
    border: 1px $secondary-color solid;
  }
}
