$primary-color: #8a33fd;
$secondary-color: #3c4242;
$title-color: #191919;
$text-color: #7f7f7f;
$modal-background-color: rgba(0, 0, 0, 0.3);
$modal-header-bg-color: #d9d9d9;
$modal-bg: white;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: normal;
  font-weight: 500;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  text-align: center;
  background-color: $modal-background-color;
}

.modal {
  position: absolute;
  top: 118px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 560px;
  background: $modal-bg;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.modal-box {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.modal-close {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 0;
  width: 22px;
  height: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
}

.modal-header {
  margin: 56px auto 29px;
  width: 276px;
  height: 140px;
  background: $modal-header-bg-color;
}

.modal-content {
  padding-top: 56px;
}

.title {
  color: $title-color;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 400;
}

.desc {
  margin-top: 32px;
  width: 448px;
  color: $text-color;
}

.modal-footer {
  margin-top: 64px;
  margin-bottom: 56px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  gap: 64px;
}

